<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../src/gambar/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./../../dist/output.css">
    <title>Kesan dan Pesan | Doni Rivaldo Simamora</title>
</head>
<body>
    <!-- header -->
    <header></header>
    <!-- header -->

    <!-- main -->
    <main class="flex flex-col pt-32 pb-16 px-10">
        <h2 class="text-center text-2xl font-bold ">
            Kesan dan Pesan Selama Belajar Pemrograman Web
        </h2>

        <section class="text-justify px-20 py-5 mt-5 text-wrap">
            <h2 class="text-xl font-semibold">Pengantar</h2>
            <p>
                Selama mengikuti pembelajaran pemrograman web, saya mendapatkan banyak pengalaman baru yang sangat berkesan. Awalnya saya merasa bingung dengan berbagai sintaks dan aturan dalam HTML, CSS, dan JavaScript, namun lama-kelamaan saya mulai memahami alurnya dan merasa tertantang untuk terus belajar lebih dalam.
            </p>
        </section>
        
        <section class="text-justify px-20 py-5 text-wrap">
            <h2 class="text-xl font-semibold">Kesan</h2>
            <p>
                Belajar pemrograman web memberikan saya pengalaman yang menyenangkan sekaligus menantang. Menyenangkan karena saya bisa langsung melihat hasil dari kode yang saya tulis dalam bentuk tampilan web yang nyata. Saya merasa bangga setiap kali berhasil membuat halaman web sederhana dari nol. Namun, tidak bisa dipungkiri bahwa ada juga saat-saat yang membuat frustasi, terutama ketika menghadapi error yang sulit ditemukan penyebabnya. Tapi justru dari situlah saya belajar untuk lebih teliti, sabar, dan tidak mudah menyerah.
            </p>
        </section>

        <section class="text-justify px-20 py-5 text-wrap">
            <h2 class="text-xl font-semibold">Pesan</h2>
            <p>
                Untuk teman-teman yang sedang atau akan belajar pemrograman web, jangan takut untuk mencoba dan berbuat salah. Karena dari kesalahan itulah kita bisa belajar lebih baik. Teruslah semangat dan jangan ragu untuk bereksperimen dengan kode-kode yang dipelajari. Untuk pengajar, saya ucapkan terima kasih atas ilmu, bimbingan, dan kesabaran dalam menjelaskan materi yang cukup kompleks ini menjadi lebih mudah dipahami. Dan untuk diri saya sendiri, saya berharap bisa terus mengembangkan kemampuan ini dan suatu saat nanti mampu membuat website yang fungsional dan bermanfaat bagi banyak orang.
            </p>
        </section>

        <section class="text-justify px-20 py-5 text-wrap">
            <h2 class="text-xl font-semibold">Penutup</h2>
            <p>
                Belajar pemrograman web telah membuka wawasan saya tentang bagaimana sebuah website bekerja dari balik layar. Meskipun masih banyak yang harus saya pelajari, saya merasa langkah awal ini sudah cukup memberikan pondasi yang kuat untuk melangkah ke tahap berikutnya.
            </p>
        </section>
    </main>
    <!-- main -->

    <!-- footer -->
    <footer></footer>
    <!-- footer -->

    <script type="module" src="../../src/fungsi_js/main.js"></script>
</body>
</html>