<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../src/gambar/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>Kesan & Pesan | Rionaldo Purba</title>
</head>
<body class="flex flex-row">
    <!-- navigasi -->
    <div id="navigasi" class="w-1/6 overflow-y-scroll font-bold font-sans text-black" style="z-index: 1; background: var(--warna3);">
        <aside class=" py-10 px-5">
            <a href="../../">
                <h1 class="menu-lain">BERANDA</h1>
            </a>

            <a href="../HTML/">
                <h1 class="menu-lain">HTML</h1>
            </a>

            <a href="../CSS/">
                <h1 class="menu-lain">CSS</h1>
            </a>
            
            <h1 class="menu-lain">JAVASCRIPT</h1>

            <a href="../Tailwind CSS/">
                <h1 class="menu-lain">TAILWIND CSS</h1>
            </a>
            <a href="./">
                <h1 class="menu-lain">Kesan & Pesan</h1>
            </a>
        </aside>
    </div>
    <!-- navigasi -->

    <main class="flex flex-1 justify-between flex-row min-h-screen">
        <div>
            <h1 class="text-center py-5 mt-10 text-2xl font-bold">Kesan saya terhadap mata kuliah Pemrograman Website</h1>
            <p class="mx-10 text-justify font-semibold"> <span class="ml-10">Saya</span> mempelajari banyak hal di mata kuliah ini dan saya bisa menambah skill baru dan pengetahuan untuk Membuat
                website saya sendiri. Saya bisa explore dari berbagai sumber sebagai tambahan untuk menambah skill saya 
                dalam memperbagus tampilan website saya. Mata kuliah ini tidak berat sama sekali karena saya hanya perlu belajar
                untuk menambah skill dan melakukan praktik langsung kepada website saya. Karena tidak ada hal yang memberatkan, 
                saya akhirnya fokus untuk mempelajari hal baru untuk membuat skill saya semakin mahir.
            </p>

            <h1 class="text-center py-5 mt-10 text-2xl font-bold">Pesan saya kepada mata kuliah Pemrograman Website</h1>
            <p class="mx-10 text-justify font-semibold">Pesan saya kepada teman-teman yang juga belajar Pemrograman Website selalu mencoba hal baru karena itu 
                bisa membantu meningkatkan skill kita dan juga jangan terlalu takut coding gagal atau error. Ketika 
                codingan kita error, kita bisa terus mencoba dan akhirnya bisa membuat kita mahir dikemudian hari 
                dan dapat dengan mudah menghindari error karena kita sudah terbiasa.
            </p>
        </div>
    </main>
</body>
</html>