:root {
    --warna1 : #E3FDFD;
    --warna2 : #CBF1F5;
    --warna3 : #A6E3E9;
    --warna4 : #71C9CE;
}

.card_pilihan {
    background-color: var(--warna2);
}

main {
    background-color: var(--warna1);
}   