<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../src/gambar/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/output.css">
    <title>JavaScript | Rionaldo Purba</title>
</head>
<body class="flex flex-row">
    <!-- navigasi -->
    <div id="navigasi" class="w-1/6 overflow-y-scroll font-bold font-sans text-black" style="z-index: 1; background: var(--warna3);">
        <aside class=" py-10 px-5">
            <a href="../../">
                <h1 class="menu-lain">BERANDA</h1>
            </a>

            <a href="../HTML/">
                <h1 class="menu-lain">HTML</h1>
            </a>

            <a href="../CSS/">
                <h1 class="menu-lain">CSS</h1>
            </a>
            
            <h1 class="menu-lain">JAVASCRIPT</h1>
            <!-- ingat ganti -->
            <h1 id="pengenalan_js" class="menu-section">Pengenalan JS</h1>
            <h1 id="sintax_js" class="menu-section">Sintax JS</h1>
            <h1 id="variable_js" class="menu-section">Variabel JS</h1>
            <!-- ingat ganti -->

            <a href="../Tailwind CSS/">
                <h1 class="menu-lain">TAILWIND CSS</h1>
            </a>
        </aside>
    </div>
    <!-- navigasi -->
    
    <!-- main -->
    <main class="flex flex-1 justify-between flex-row min-h-screen">
        <div id="isi_content" class="w-5/6 p-10">
            <section>
                <h2 class="text-center font-bold text-4xl">Pengenalan JavaScript</h2>
                <div class="p-2">
                    <h2 class="text-2xl py-5">Apa itu JavaScript?</h2>
                    <p>JavaScript adalah bahasa pemrograman web. Itu dapat menghitung, memanipulasi, dan memvalidasi data. Itu dapat memperbarui dan mengubah HTML dan CSS.</p>
                    <p>Perbedaan HTML, CSS, JavaScript : </p>
                    <ul class="list-disc list-inside space-y-1">
                        <li>
                            <strong>HTML</strong> untuk menentukan konten halaman web
                        </li>
                        <li>
                            <strong>CSS</strong> untuk menentukan tata letak halaman web
                        </li>
                        <li>
                            <strong>JavaScript</strong> untuk memprogram perilaku halaman web
                        </li>
                    </ul>
                </div>

                <hr class="my-10">

                <div class="px-2">
                    <h2 class="text-2xl">Kegunaan JavaScript</h2>
                    <h2 class=" mt-5 pb-2 text-xl">JavaScript Dapat Mengubah Konten HTML</h2>
                    <p>
                        Salah satu dari banyak metode HTML JavaScript adalah
                        <span class="text-red-800">getElementById()</span>. <br>
                        Contoh di bawah ini "menemukan" elemen HTML (dengan id="demo"), dan mengubah konten elemen (innerHTML) menjadi "Hello JavaScript": <br>
                    </p>
                    <div class="text-red-800 border p-2 mt-1">
                        document.getElementById("demo").innerHTML = "Hello JavaScript";
                    </div>

                    <h2 class=" mt-10 pb-2 text-xl">JavaScript Dapat Mengubah Gaya HTML (CSS)</h2>
                    <p>
                        Mengubah gaya elemen HTML, adalah varian dari mengubah HTML atribut:
                    </p>
                    <div class="text-red-800 border p-2 mt-1">
                        document.getElementById("demo").style.fontSize = "35px";
                    </div>

                    <h2 class=" mt-10 pb-2 text-xl">JavaScript Dapat Menyembunyikan Elemen HTML</h2>
                    <p>
                        Menyembunyikan elemen HTML dapat dilakukan dengan mengubah gaya:
                        <span class="text-red-800">display</span>. <br>
                    </p>
                    <div class="text-red-800 border p-2 mt-1">
                        document.getElementById("demo").style.display = "none";
                    </div>

                    <h2 class=" mt-10 pb-2 text-xl">JavaScript Dapat Menampilkan Elemen HTML</h2>
                    <p>
                        Menampilkan elemen HTML tersembunyi juga dapat dilakukan dengan mengubah gaya:
                        <span class="text-red-800">display</span>. <br>
                    </p>
                    <div class="text-red-800 border p-2 mt-1">
                        document.getElementById("demo").style.display = "block";
                    </div>
                </div>

                <hr class="my-10">

                <div class="aspect-w-16 aspect-h-9">
                    <h2 class="text-2xl">Video: Pengantar JavaScript</h2>
                    <iframe class="w-[60vw] h-96 rounded-lg shadow-lg mx-auto pt-5" 
                    src="https://www.youtube.com/embed/zofMnllkVfI" 
                    title="Video Pengenalan HTML"
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </section>
        </div>
    </main>
    <!-- main -->

    <!-- footer -->
    <footer class="relative z-50"></footer>
    <!-- footer -->

    <script type="module" src="../../src/fungsi_js/main.js"></script>
    <script src="../script_js/side_bar.js"></script>
    <script type="module" src="../script_js/atur_link_bar_js.js"></script>
</body>

</html>
